{% extends 'base.html.twig' %}

{% block title %}Ingredient index{% endblock %}

{% block body %}
    <h1>Liste d'ingredients</h1>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Tarif</th>
                <th>Végétarien</th>
                <th>Végan</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.id }}</td>
                <td>{{ ingredient.ingredientName }}</td>
                <td>{{ ingredient.ingredientPrice }} €</td>
                <td>{{ ingredient.vegetarian ? 'X' : '' }}</td>
                <td>{{ ingredient.vegan ? 'X' : '' }}</td>
                <td class="flex">
                    <div><a href="{{ path('ingredient_show', {'id': ingredient.id}) }}" class="btn btn-success btn-block">Détails</a></div>
                    <div><a href="{{ path('ingredient_edit', {'id': ingredient.id}) }}" class="btn btn-warning btn-block">Modifier</a></div>
                    {{ include('ingredient/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ingredient_new') }}" class="btn btn-primary btn-block">AJOUTER UN NOUVEL INGREDIENT</a>
{% endblock %}
