{% extends 'base.html.twig' %}

{% block title %}Pizza index{% endblock %}

{% block body %}
    <h1>Liste des pizzas</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Taille</th>
                <th>Base</th>
                <th>Tarif</th>
                <th>Végan/Végétarien</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for pizza in pizzas %}
            <tr>
                <td>{{ pizza.id }}</td>
                <td>{{ pizza.pizzaName }}</td>
                <td>{{ pizza.pizzaSize.getSizeName() }}</td>
                <td>{{ pizza.pizzaBase.getBaseName() }}</td>
                <td>{{ pizza.pizzaPrice }} €</td>
                <td>{{ pizza.VeganOrVegetarian }}</td>
                <td class="flex">
                    <div><a href="{{ path('pizza_show', {'id': pizza.id}) }}" class="btn btn-success btn-block">Détails</a></div>
                    <div><a href="{{ path('pizza_edit', {'id': pizza.id}) }}" class="btn btn-warning btn-block">Modifier</a></div>
                    {{ include('pizza/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pizza_new') }}" class="btn btn-primary btn-block">CREER UNE NOUVELLE PIZZA</a>

{% endblock %}
